:root {
  --primary-color: black;
  --calculator-color: black;
  --secondary-color: white;
  --border-color: rgb(32, 32, 32);
  --calculator-border-color: linear-gradient(
    356deg,
    rgb(29, 29, 29) 46%,
    rgb(61, 61, 61) 100%
  );
  --display-color: rgb(14, 14, 14);
  --hover-color: rgb(29, 29, 29);
  --display-text-color: white;
  --section-color: white;
}

.second-mode {
  --display-text-color: rgb(0, 255, 0);
  --secondary-color: rgb(0, 255, 0);
  --calculator-border-color: linear-gradient(
    356deg,
    rgba(22, 255, 0, 1) 100%,
    rgba(208, 255, 232, 1) 0%
  );
  animation: pop 1s ease-in-out;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s;
  background-color: var(--primary-color);
}

.container {
  background-color: var(--calculator-color);
  width: 480px;
  height: 710px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 490px;
  height: 720px;
  background: var(--calculator-border-color);
  z-index: -1;
}

.display-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 440px;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--display-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.display-content {
  padding: 0px 20px;
  font-size: 2.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--display-text-color);
}

.button-container {
  width: 440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.25s;
  border: 2px solid var(--border-color);
  overflow: hidden;
  position: relative;
}

button.color {
  background-color: var(--display-color);
  color: var();
}

button:hover {
  transform: scale(1.05);
  background-color: var(--hover-color);
}

button#equals {
  height: 210px;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}

button#equals:hover {
  height: 210px;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}

/* SPECIAL */

body > div:first-child {
  display: flex;
  position: absolute;
  z-index: -1;
  transform: translateY(-360px);
}

img {
  max-width: 200px;
  margin: 0 170px;
  animation: rotateLeftRight 3s infinite ease-in-out;
}

#display-none {
  display: none;
}

@keyframes rotateLeftRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pop {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(-4deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(4deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
